@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header css */
header {
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
}

.container {
    padding: 50px 228px 0;
}

.header-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: #131313;
    font-size: 45px;
}

nav ul {
    display: flex;
}

nav li {
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    margin-right: 25px;
    list-style: none;
}

.header-description {
    text-align: center;
    margin: 100px 0 50px;
}

.title.description {
    font-size: 64px;
}

.header-description p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 10px;
}

.header-button {
    text-align: center;
    margin: 30px 0 50px;
}

.btn-primary {
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

.header-img img {
    width: 1200px;
    padding: 0 20px 45px;
}

/* main css */

/* feature css */

.features {
    display: flex;
    gap: 70px;
    align-items: center;
    margin: 80px 300px 120px;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-img img {
    width: 300px;
}

#qlist {
    font-weight: 500;
    color: #727272;
    font-size: 45px;
}

#ftr {
    font-size: 45px;
    color: #FF900E;
}

.feature-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 30px 0;
}

/* main more-feature css */

.more-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 130px 240px;
    gap: 70px;
}

.rectitle {
    display: flex;
    gap: 20px;
}

.rectangular {
    width: 5px;
    height: 100px;
    background-color: #FF900E;
}

.more-feature {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
}

.feature-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.btn-feature {
    width: 250px;
    height: 150px;
    padding: 45px;
    position: relative;
    top: 850px;
    right: 50px;
}

.more-feature-extra {
    background-image: url(../images/architect.png);
    background-repeat: no-repeat;
    background-size: 120%;
}

/* Responsive for mobile */

@media screen and (max-width:576px) {

    /* Header Responsive */
    header {
        width: 100%;
    }

    .container {
        padding: 10px;
    }

    .header-intro,
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul,
    nav ul li {
        margin-top: 10px;
    }

    .header-img img {
        width: 90%;
        padding: 25px;
    }

    /* main feature responsive */
    .features {
        flex-direction: column;
        margin: 20px 5px;
    }

    .feature-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-info {
        text-align: center;
    }
}